<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>안녕하세요. 저는 20년 이상 경력을 가진 프리랜서 개발자 입니다.
          웹, 앱 모두 가능하고 백엔드 프론트엔드 모두 가능한 풀스택 개발자 이기도 합니다.
          요즘은 인공지능에 관심이 생겨서 딥러닝을 열심히 공부하고 있어요.
          나이는 숫자가 좀 높기는 하나 저는 늘 새로운 걸 추구하고 끊임 없이 업데이트 하는 개발자 입니다.
          고객님의 반려 개발자가 되겠습니다.
        </p>
      </div>
      <div class="col-lg-4">
        <p> 메시지 주시면 이메일로 저의 경력 프로필을 전달 드릴게요. 너무 너무 길어서 해당 화면에서는 감당이 안되네요 </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://https://coco6958.github.io" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> 대문으로!!
        </a>
      </div>
    </div>
  </div>
</section>
