<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>

<div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>저는 24년 이상 경력을 가진 프리랜서 개발자 입니다. Frontend, Backend 모두 가능한 풀스택 개발자 입니다. </p>
      </div>
      <div class="col-lg-4">
        <p> 늘 새로운 걸 추구하고 끊임 없이 업데이트 하는 개발자 입니다. 연락 주시면 이메일로 저의 전체 경력 프로필을 전달 드리겠습니다. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://coco6958.github.io" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Home
        </a>
      </div>
    </div>
  </div>
</section>
