<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img class="img-responsive" src="img/profile.png" alt="profile-pic" />
        <div class="intro-text">
          <span class="name"> skills </span>
          <hr class="star-light" />
          <div class="skills">
            <p style="float:left;"> Frontend : html5, css, jquery, ajax, jsp, asp, php, javascript, Typescript, vbscript, Angular, Flutter, React.js, Vue.js, Thymeleaf, jqGrid, agGrid, Tui-grid, ibSheet, Gauce, TrustForm, myBuilder, webSqure5, MiPlatform, jqGrid, Ag-grid, React Grid , Tui-grid + @ </p>
            <p style="float:left;"> Backend : java, node.js, python + @ </p>
            <p style="float:left;"> Framework : spring, spring boot, Express, Ionic, Flask, Struts, AnyFrame, 전자정부 프레임웤, HONE, jpa, Mabatis, ibatis + @ </p>
            <p style="float:left;"> Database : Oracle, MS Sql, My Sql, mariadb, Sybase, db2, Tibero, postgresql, mongo db </p>
            <p style="float:left;"> Api Skill : Rest Api, swagger, Google open Api, Naver open API + @ </p>
            <p style="float:left;"> Interface : Tcp/Ip, Https, 웹소켓, EAI, SOA, Soap </p>
            <p style="float:left;"> Server(HW) : Window, Linux, Unix, AWS, Amazon EC2, Hp, Solaris </p>
            <p style="float:left;"> Server(SW) : Tomcat, Weblogic, Jeus, WebSphere </p>            
            <p style="float:left;"> Development Tools : IntelliJ, Eclipse, STS, Visual studio code, Android studio, dbeaver, HeidiSQL, Toad </p>      
            <p style="float:left;"> Version Control : git, github, gitlab, svn </p>      
            <p style="float:left;"> Chart : echart, chart.js, charFx, D3, Highcharts, FusionCharts </p> 
            <p style="float:left;"> Report Tools : Oz Report, RD, Rexpert, Birt </p>
            <p style="float:left;"> Collaborative Tools : jira, Figma, Dooray, Slack, Skype, TeamViewer </p>       
            <p style="float:left;"> Keyword : Full stack development, Responsibility Quality, To keep the delivery date </p>       
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
